VITE_API_URL=https://api.skignas.com
VITE_MERCHANTGO_URL=https://marchantgo-back-production.up.railway.app

VITE_FIREBASE_API_KEY="ne jamais committer la vraie valeur"
VITE_FIREBASE_AUTH_DOMAIN="skignas-business.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="skignas-business"
VITE_FIREBASE_STORAGE_BUCKET="skignas-business.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="ne jamais committer la vraie valeur"
VITE_FIREBASE_APP_ID="ne jamais committer la vraie valeur"
VITE_FIREBASE_MEASUREMENT_ID="ne jamais committer la vraie valeur"
