VITE_API_URL=http://localhost:4000
VITE_ENABLE_MOCKS=true

VITE_FIREBASE_API_KEY="ne jamais committer la vraie valeur"
VITE_FIREBASE_AUTH_DOMAIN="marchant-e58f1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="marchant-e58f1"
VITE_FIREBASE_STORAGE_BUCKET="marchant-e58f1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="ne jamais committer la vraie valeur"
VITE_FIREBASE_APP_ID="ne jamais committer la vraie valeur"
VITE_FIREBASE_MEASUREMENT_ID="ne jamais committer la vraie valeur"
